{eunit_opts, [verbose]}.

{port_specs, [{"priv/erocksdb.so", ["c_src/*.cc"]}]}.

{plugins, [pc]}.

{provider_hooks, [{post, [{compile, {pc, compile}},
                          {clean, {pc, clean}}]
                  }]
}.

%%/usr/local/lib64/libstdc++.a
{port_env, [%% Make sure to set -fPIC when compiling rocksdb
		{"CC", "gcc"},
		{"CXX", "g++"},
            {"CFLAGS", "$CFLAGS -Wall -O0 -fPIC -g3"},
            {"CXXFLAGS", "$CXXFLAGS -std=c++11 -Wall -O0 -fPIC -g3 -static-libstdc++"},
            {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/rocksdb -I c_src/rocksdb/include -I /usr/local/include"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/rocksdb/librocksdb.a c_src/system/lib/libsnappy.a /usr/lib64/gcc/x86_64-pc-linux-gnu/5.3.0/libstdc++.a  -static-libstdc++"}]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}
            ]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
